USE [Name_Generator]
GO
/****** Object:  StoredProcedure [dbo].[markov_Build_Model]    Script Date: 10/3/2017 9:13:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nate Anderson
-- Create date: 20170903
-- Description:	Build the Markov model from the chosen languages
-- =============================================
CREATE PROCEDURE [dbo].[markov_Build_Model]
	-- Add the parameters for the stored procedure here
	@dataset_size int,
	@final_name_count int,

	@lang1 nvarchar(max),
	@lang1_prcntg int,
	
	@lang2 nvarchar(max),
	@lang2_prcntg int,

	@lang3 nvarchar(max) = null,
	@lang3_prcntg int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    select distinct 
		name_language,
		count(nn.guid_name)
	from name_language nl
	join name_rl_name_language rlnl
		on nl.guid_language = rlnl.guid_language
	join name_Name nn
		on rlnl.guid_Name = nn.guid_name
	group by nl.name_Language

	delete markov_Subset
	delete markov_Model

	dbcc checkident ('markov_Subset', reseed, 0)

	insert into markov_subset (
		name, 
		processed
	)
	select distinct top 2000 
		name_Name, 
		0
	from TEMP_name_Name
	where name_Culture = 'Latvia'

	insert into markov_subset (
		name, 
		processed
	)
	select distinct top 0 
		name_Name, 
		0
	from TEMP_name_Name
	where name_Culture = 'Iceland'

	rollback transaction return

	declare @inserted table
	(
		char1 nchar,
		char2 nchar,
		char3 nchar
	)



	/*************/

	while ((select count(*) from markov_Subset where processed = 0) > 1)
	begin

		declare @position int = -1

		declare @name_id int = (
				select top 1 
					name_id
				from markov_Subset
				where processed = 0
			)

		declare @name_in_process nvarchar(max) = (
				select top 1 
					name 
				from markov_Subset
				where name_id = @name_id

			)

		declare @startTime datetime = getdate()

		-- This will loop until BREAK is called, or until a timeout of 45 seconds.
		WHILE (getdate() < dateadd(mm, 1, @startTime))
		begin

			insert into markov_Model (
				char1,
				char2,
				char3
			)
			output
				inserted.char1, 
				inserted.char2, 
				inserted.char3 
			into @inserted (
				char1, 
				char2, 
				char3
			)
			select 
				SUBSTRING(@name_in_process, @position, 1),
				SUBSTRING(@name_in_process, @position + 1, 1),
				SUBSTRING(@name_in_process, @position + 2, 1)

			set @position += 1

			if ((select char3 from @inserted) = '')
			begin
			
				delete @inserted

				break

			end

			delete @inserted

			update markov_Subset
				set processed = 1
			where name_id = @name_id

		end

	end

	update mm
		set char1 = ' '
	from markov_Model mm
	where char1 = ''

	update mm
		set char2 = ' '
	from markov_Model mm
	where char2 = ''

	update mm
		set char3 = ' '
	from markov_Model mm
	where char3 = ''

	select top 5000 *
	from markov_Model

END

GO
/****** Object:  StoredProcedure [dbo].[markov_Create_Names]    Script Date: 10/3/2017 9:13:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nate Anderson
-- Create date: 20170903
-- Description:	Build names from the prepared model
-- =============================================
CREATE PROCEDURE [dbo].[markov_Create_Names] 
	-- Add the parameters for the stored procedure here
	@final_name_count int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @start_time datetime = getdate()

	declare @new_name nvarchar(max)

	while ((@final_name_count > 0) and dateadd(mm, 5, @start_time) > getdate())
	begin

		set @new_name = (

				select top 1
					char1 + char2 + char3 
				from markov_Model
				where char1 = ' '
					and char2 = ' '
				order by newid()
		
			)

		declare @name_time datetime = getdate()
	
		-- This will loop until BREAK is called, or until a timeout of 5 seconds.
		while (getdate() < dateadd(ss, 5, @name_time))
		begin 

			set @new_name = @new_name + (

					select top 1
						char3
					from markov_Model
					where right(@new_name, 1) = char2 collate Latin1_General_100_CS_AS
						and left(right(@new_name, 2),1) = char1 collate Latin1_General_100_CS_AS
					order by newid()

				)

			if (right(@new_name, 1) = ' ')
			begin 
	
				insert into markov_Output (markov_Output)
				select rtrim(ltrim(@new_name))
			
				break

			end

		end

		set @final_name_count -= 1

	end
END

GO
